---
// src/components/Card.astro
const {
  url = null,
  image,
  titleMain, // First part of the title
  Semester = "", // Second part of the title, optional
  Year = "", // Third part of the title, optional
  description,
  ariaLabel = "",
} = Astro.props;
---

{
  url ? (
    <a href={url} target="_blank" aria-label={ariaLabel} class="group-container">
      <div class="hover:opacity-80 hover:-translate-y-1 transition duration-300 ease-in-out">
        <div />
        <img src={image} alt={titleMain} class="h-[300px] object-cover w-full border border-gray-950" />
        <div class="text py-6">
          <h3 class="font-bold text-gray-950">
            {titleMain}
            <br />
          </h3>
          <h4 class="text-h4-mobile font-bold text-gray-950 md:pb-4 pb-3">
            {Semester}
            <span class="font-normal text-h4-mobile"> {Year}</span>
          </h4>
          <hr class="border-gray-950 mb-5 md:w-[60%] w-[90%]" />
          <p class="text-gray-950 mt-2">{description}</p>
        </div>
      </div>
    </a>
  ) : (
    <div class="hover:-translate-y-1 transition duration-300 ease-in-out">
      <div />
      <img src={image} alt={titleMain} class="h-[300px] object-cover w-full border border-gray-950" />
      <div class="text py-6">
        <h3 class="font-bold text-gray-950">
          {titleMain}
          <br />
        </h3>
        <h4 class="text-h4-mobile font-bold text-gray-950 md:pb-4 pb-3">
          {Semester}
          <span class="font-normal text-h4-mobile"> {Year}</span>
        </h4>
        <hr class="border-gray-950 mb-5 md:w-[60%] w-[90%]" />
        <p class="text-gray-950 mt-2">{description}</p>
      </div>
    </div>
  )
}
