---
// src/components/Card.astro
const {
  url = null,
  image,
  titleMain, // First part of the title
  Semester = "", // Second part of the title, optional
  Year = "", // Third part of the title, optional
  tools = [], // add this line
  description,
  ariaLabel = "",
} = Astro.props;
---

{
  url ? (
    <a id="card" href={url} target="_blank" aria-label={ariaLabel} class="group-container">
      <div class="hover:opacity-80 hover:-translate-y-1 transition duration-300 ease-in-out border-l-4 border border-gray-200 hover:border-gray-300 rounded-[5px] bg-gray-100 hover:bg-gray-200">
        <div />
        <img src={image} alt={titleMain} class="w-[600px] h-[400px] rounded-t-[5px] object-cover" />
        <div class="text px-6 py-6">
          <h3 class="font-bold text-gray-950">
            {titleMain}
            <br />
          </h3>
          <h4 class="font-dense font-bold text-gray-950 md:pb-4 pb-3">
            {Semester}
            <span class="font-normal"> {Year}</span>
          </h4>
          {tools.length > 0 && (
            <div class="flex flex-wrap gap-2 pt-2 pb-4">
              {tools.map((tool) => (
                <span class={`rounded-full font-semibold px-4 p-2 bg-gray-950 text-gray-50 uppercase text-sm`}>{tool}</span>
              ))}
            </div>
          )}
          <hr class="border-gray-400 mb-5 md:w-[60%] w-[90%]" />
          <p class="text-gray-950 mt-2">{description}</p>
        </div>
      </div>
    </a>
  ) : (
    <a id="card" href={url} target="_blank" aria-label={ariaLabel} class="group-container">
      <div class="border-l-4 border border-gray-200 hover:border-gray-300 rounded-[5px] bg-gray-100 hover:bg-gray-200 hover:-translate-y-2 transition duration-300 ease-in-out">
        <div />
        <img src={image} alt={titleMain} class="w-[600px] h-[400px] rounded-t-[5px] object-cover" />
        <div class="text px-6 py-6">
          <h3 class="font-bold text-gray-950">
            {titleMain}
            <br />
          </h3>
          <h4 class="font-dense font-bold text-gray-950 md:pb-3 pb-2 pt-1">
            {Semester}
            <span class="font-normal font-dense"> {Year}</span>
          </h4>
          {tools.length > 0 && (
            <div class="flex flex-wrap gap-2 pt-2 pb-4">
              {tools.map((tool) => (
                <span class={`rounded-full font-semibold px-4 p-2 bg-gray-950 text-gray-50 uppercase text-sm`}>{tool}</span>
              ))}
            </div>
          )}
          <hr class="border-gray-400 mb-5 md:w-[60%] w-[90%]" />
          <p class="text-gray-950 mt-2">{description}</p>
        </div>
      </div>
    </a>
  )
}

<script>
  import { inView } from "motion";

  const cards = document.querySelectorAll("#card > div");

  cards.forEach((cards, index) => {
    inView(cards, () => {
      cards.classList.add("animate__animated", "animate__fadeInUp");
      cards.style.animationDelay = `${index * 0.2}s`; // Delay each image by 0.2s
    });
  });
</script>

<style>
  body.dark #card > div {
    background-color: #454545;
    border-color: #6d6d6d;
  }

  body.dark #card > div > img,
  body.dark #card hr {
    border-color: #6d6d6d;
  }

  body.dark #card > div:hover {
    background-color: #5b5b5b;
    border-color: #7d7d7d;
  }

  body.dark #card h3,
  body.dark #card h4,
  body.dark #card p {
    color: #f6f6f6;
  }
</style>
