---
const { url = null, image, titleMain, Semester = "", Year = "", tools = [], description, ariaLabel = "" } = Astro.props;
---

<a
  href={url}
  target="_blank"
  aria-label={ariaLabel}
  class="relative overflow-hidden rounded-2xl group block hover:-translate-y-1 transition duration-300 ease-in-out h-[300px] cursor-pointer border-l-4 border border-gray-200 hover:border-gray-300"
>
  <img src={image} alt={titleMain} class="w-full h-full object-cover" />
  <div class="absolute inset-0 bg-gray-950 bg-opacity-75 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
    <div class="absolute bottom-0 left-0 right-0 p-4">
      <h1 class="text-h4-desktop font-bold text-gray-50">{titleMain}</h1>
      <h2 class="text-h4-desktop font-dense font-regular pb-2 text-gray-50">{Semester} <span class="font-regular italic">{Year}</span></h2>

      {
        tools.length > 0 && (
          <div class="flex flex-wrap mt-4">
            {tools.map((tool) => (
              <span class="rounded-full px-4 p-2 font-semibold uppercase bg-red-700 text-gray-50 text-sm mr-2 mb-2">{tool}</span>
            ))}
          </div>
        )
      }
    </div>
  </div>
</a>

<script>
  import { inView } from "motion";

  document.addEventListener("DOMContentLoaded", () => {
    const reduceMotion = document.body.classList.contains("reduce-motion");

    if (!reduceMotion) {
      const cards = document.querySelectorAll("a.group");

      cards.forEach((card, index) => {
        inView(card, () => {
          card.classList.add("animate__animated", "animate__fadeInUp");
          card.style.animationDelay = `${index * 0.2}s`;
        });
      });
    }
  });
</script>

<style>
  body.dark a.group {
    background-color: #454545;
    border-color: #6d6d6d;
  }

  body.dark a.group:hover {
    background-color: #5b5b5b;
    border-color: #7d7d7d;
  }

  body.dark a.group h4,
  body.dark a.group p,
  body.dark a.group span {
    color: #f6f6f6;
  }
</style>
