---
const fetchCards = async () => {
  const response = await fetch("https://bbmabdbbjpfqoapbtstm.supabase.co/rest/v1/portfolio_cases?order=id.asc", {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJibWFiZGJianBmcW9hcGJ0c3RtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDI0NjkwNDYsImV4cCI6MjA1ODA0NTA0Nn0.gFnw6GZiMFOCMwy6rAcQFzoK0_qUJCwKNpl-XGzy574",
    },
  });
  return response.ok ? await response.json() : [];
};

const projects = await fetchCards();
const ariaLabel = "View project: ";

import Button from "./Button.astro";
---

<!-- Carousel -->
<div class="carousel w-full">
  <ul id="project-cards" class="carousel-track grid grid-cols-1 md:grid-cols-2 md:gap-20 gap-16 md:pb-16 pb-8">
    {
      projects.map((project) => (
        <div id="card" class="flex flex-col border border-gray-950 rounded-[5px] bg-gray-100 hover:bg-gray-200  transition duration-300 ease-in-out">
          <img class="w-[600px] h-[400px] object-cover rounded-t-[5px] border-b border-gray-950" src={project.image} alt={project.name} />
          <div class="flex flex-col p-6 pt-4">
            <h3 class="pt-5">{project.name}</h3>
            <h4 class="font-dense md:pb-3 pb-2 pt-1 text-gray-950">
              <span class="font-bold text-gray-950">Semester:</span> {project.semester}
            </h4>
            <div class="flex flex-row flex-wrap gap-2 pt-2 pb-4">
              {project.tools &&
                project.tools.map((tool) => (
                  <p class="rounded-full px-4 p-2 font-semibold border border-gray-950 uppercase bg-gray-950 text-gray-50 text-sm">{tool}</p>
                ))}
            </div>
            <hr class="border-gray-950 mb-6 mt-3 md:w-[90%] w-full" />
            <p class="pb-2 text-gray-950 max-w-lg">{project.description}</p>
            <hr class="border-gray-950 mb-6 mt-4 md:w-[90%] w-full" />
            <div>
              <a href={project.url} target="_blank" aria-label={ariaLabel}>
                <Button variant="primary" size="small" text="View Project">
                  Click here to see project
                </Button>
              </a>
            </div>
          </div>
        </div>
      ))
    }
  </ul>
</div>

<script>
  import { inView } from "motion";

  document.addEventListener("DOMContentLoaded", () => {
    const reduceMotion = document.body.classList.contains("reduce-motion");

    if (!reduceMotion) {
      const cases = document.querySelectorAll("#project-cards > div");

      cases.forEach((cases, index) => {
        inView(cases, () => {
          cases.classList.add("animate__animated", "animate__fadeInUp");
          cases.style.animationDelay = `${index * 0.2}s`; // Delay each image by 0.2s
        });
      });
    }
  });
</script>

<style>
  body.dark #project-cards > div {
    background-color: #454545;
    border-color: #6d6d6d;
  }

  body.dark #project-cards > div:hover {
    background-color: #5b5b5b;
    border-color: #7d7d7d;
  }

  body.dark #project-cards > div:focus {
    border-color: #e48181;
  }

  body.dark #project-cards > div h3,
  body.dark #project-cards > div h4,
  body.dark #project-cards > div p,
  body.dark #project-cards > div span {
    color: #f6f6f6;
  }

  body.dark #project-cards > div hr,
  body.dark #project-cards > div img {
    border-color: #6d6d6d;
  }
</style>
