---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ScrollToTop from "../components/ScrollToTop.astro";
import "../styles/tailwind.css";
import "animate.css";
import "../styles/global.css";
const { title } = Astro.props;

const schemamarkup = {
  "@context": "https://schema.org",
  "@type": "Person",
  name: "Sara Ringkow Petersen",
  url: "https://srp-portfolio.netlify.app/",
  jobTitle: "Multimedia-designer",
  description: "An aspiring multimedia-designer passionate about accessible, user-friendly digital solutions.",
  sameAs: ["https://www.linkedin.com/in/sara-ringkow-petersen-49830b264/"],
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />

    <link rel="icon" type="image/svg+xml" href="/logo_white.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
    <meta name="description" content={Astro.props.description} />
    <meta property="og:locale" content="da_DK" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={Astro.props.ogtitle} />
    <meta property="og:description" content={Astro.props.ogdescription} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet" />
  </head>
  <body class="bg-gray-50 text-gray-950">
    <header>
      <Header />
      <ScrollToTop />
    </header>

    <main class="overflow-x-hidden">
      <slot />
    </main>

    <footer>
      <Footer />
    </footer>
  </body>
</html>

<style>
  @font-face {
    font-family: "Dense";
    src: url(/fonts/dense/Dense-Regular.woff) format("woff");
  }

  body.dark {
    background-color: #333333;
    color: #f6f6f6;
  }

  body.dark .toggle-switch {
    background-color: #666;
  }
  body.dark .toggle-circle {
    background-color: #fff;
  }

  .text-large a,
  .text-large button,
  .text-large span,
  .text-large p {
    font-size: 1.2rem;
  }
</style>

<script>
  import { animate, inView } from "motion";
  /*Entrance Animation*/
  animate("body", { opacity: [0, 1] }, { duration: 1 });
</script>
